/*
           =====================
               Public Style
           =====================
*/



* , *:after , *:before
{
    margin: 0;
    padding: 0;
}


header .container
{
  width:85%; 
   margin: auto;
}

/*
           =====================
               Header Style
           =====================
*/
header
{
    background-color: #7401DF; 
    height: 90px;
}
.logo
{
    float: left;
    margin-top: 15px;
    width:70%;
   
}
 .logo-text
{
    font-size: 30px;
    font-weight: bold;
    color: #FFBF00;
}
.ul-list
{
    float: left;
    width:30%;
    list-style: none;
     margin-top: 17px;
    
    
}
.list-item
{
   display: inline-block; 
}
.list-item > a
{
   text-decoration: none; 
    color:#FFBF00;
    padding: 10px 15px;
    display: block;
    font-size: 20px;
     font-weight: bold;
}
.list-item a:hover
{
    color: white;
}
/*
           =====================
              Main Style
           =====================
*/
.main .container
{
    height: 600px;
    width: 100%;
    background-image:url(images/pexels-photo-1103970.jpg);
    background-size: cover;
    background-position:center;
    position: relative;

    display: grid;
   
   
}
.omoss
{
    margin-top: 40px;
    margin-left: 20px;
   
}

 .omoss h2
{
    margin: 30px;
    
}
.omoss >p
{
    font-size: 25px;
}
     
 


/*
           ==================================
              delivery payments section Style
           ==================================
*/


.delivery-payments-section
{
    background-color: #FFBF00;  

    height: 75px;
   
   
}
 .delivery-content
{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

 .delivery-content .delivery i
{
     margin : 25px;
    margin-left: 200px;
    font-size: 20px;
    color: #7401DF;  
}
.delivery-content .delivery  i .fas fa-truck
{
    padding: 15px;
                  

}

.payments>*{float:left;}

.payments h3
{
    
     margin : 25px;
    margin-left: 200px;
    font-size: 20px;
    color: #7401DF;  

   
}

.payments i
{
   
    margin-left: 10px;
    padding: 25px;
    color: #7401DF;
    font-size: 30px;
}


/*
           =====================
               Footer Style
           =====================
*/

footer .container
{
    
   background-color: #7401DF;
 
    border-top:3px solid gray;
   
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
    
.input-button>*
{
    display:inline-block;
}
.input-button .-input input
{
    width:200px;
    border: 2px solid yellow;
    border-radius: 4px;
    padding: 8px;
    
    
}
.input-button .-button input
{
    border-radius: 4px;
    padding: 8px;
    border: 2px solid yellow;
    width:75px;
    font-weight: bold;
    color:  white;
    background-color: #2EFE2E;
;
}

.tom1
{
    grid-column: 1/2;
}
.tom2
{
    grid-column: 5/6;
}
.infor1
{
     grid-column: 2/3;
   
    
}
.infor1 h1
{
     margin: 30px;
    color: #F7FE2E;
    
}

.infor1 p
{
    font-size: 18px;
     padding: 4px;
    color: #F7FE2E;
}


.infor2
{
     grid-column: 3/4;
   
}
.infor2 h1
{
      margin: 20px;
    color: #F7FE2E;
}
.infor2 h3
{
      margin: 30px;
    margin-left: 20px;
    color: #F7FE2E;
}

.infor3
{
     grid-column: 4/5;
}

.infor3 h1
{
      margin: 20px;
    color: #F7FE2E;
}
.infor3 h3
{
      margin: 30px;
    margin-left: 20px;
    color: #F7FE2E;
}
.infor3>h3
{
    display: inline-block;
}
.infor3>i
{
    padding: 10px;
    font-size: 25px;
    background-color: #F7FE2E;
    
}


/*
           =======================
            @ Media  Header Style
           =======================
*/
@media (max-width:767px)
{

    .logo
{
    float: none;
    
    width:100%;
   
}
    
    .ul-list
{
     float: none;
     width:100%;  
    
}
    .list-item
{
   display: block; 
}
    header
{
 overflow: hidden;
height: 200px;
}
    

}
/*
           =====================
            @ Media  Main Style
           =====================
*/


@media (max-width:1000px)
{
  .main .container
{
    height: 400px;
      
}
  
.omoss
{
    margin-left: 0;
    font-size:20px;
   
}
    .omoss>*
{
    display: inline-block;
   
}


 .omoss h2
{
    margin: 5px;
    
}
.omoss >p
{
    font-size: 15px;
}
  
}
/*
           ==========================================
            @ Media   delivery payments section Style
           ==========================================
*/


 @media  (max-width:1000px)
 {

     
.delivery-content .delivery i
{
          float: none; margin : 0;
           margin-left: 0;
          font-size: 15px;
}

     
.payments>*
{
         float:none;
}
  
.payments h3
{
    
     margin : 0;
    margin-left: 10px;
    font-size: 15px;
  
   
}
   .payments i
{
   
    margin-left: 0px;
    padding: 10px;
   
    font-size: 20px;
} 
  
    

}


/*
           ==============================================================
            @ Media   delivery payments section Style (max-width: 1600px)
           ==============================================================
*/
 @media  (min-width: 1001px) and (max-width: 1600px)
 {



 .delivery-content .delivery i
{
     margin : 18px;
    margin-left: 100px;
    font-size: 20px;
    color: #7401DF;  
}
.delivery-content .delivery  i .fas fa-truck
{
    padding: 10px;
                  

}



.payments h3
{
    
     margin : 18px;
    margin-left: 100px;
    font-size: 20px;
    color: #7401DF;  

   
}

.payments i
{
   
    margin-left: 10px;
    padding: 20px;
    color: #7401DF;
    font-size: 20px;
}

     
}
/*
           =======================
             @media   Footer 
           =======================
*/

 @media  (max-width: 1000px)
 {
     
    
     footer .container>div
     {
         border: 2px solid yellow;
     }
     
.infor3 h1
{
      margin: 6px;
   
}
.infor3 h3
{
      margin: 6px;
    margin-left: 5px;
    
}
.infor3>h3
{
    display: inline-block;
}
.infor3>i
{
    padding: 5px;
    font-size: 10px;
  
    
}
     .infor2 h1
{
      margin: 10px;
   
}
.infor2 h3
{
      margin: 10px;
    margin-left: 5px;
    
}
     .infor1 h1
{
     margin: 10px;
   
    
}

.infor1 p
{
    font-size: 15px;
     padding: 1px;
    
}
     
}
 @media  (max-width: 500px)
 {
     footer .container
{
    
    
    display: block;
   
    grid-template-columns: 1fr 1fr  ;
    
}
     footer .container>div
     {
         border: 2px solid yellow;
     }
 
}




















